@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}


<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading" style="padding-bottom:30px;">Who Are We and Why We Do This</h1>
            <p>At BTCPayNow.net we believe in the freedom and unregulated usage of digital currency. The people's money should be available to everyone regardless of your activity or monthly turnover figures, so we have adopted a "No Monthly Fee" policy to ensure that every merchant has the best possible opportunity to develop their business in the e-commerce digital age.</br> </p><p>With a free and streamlined integration including full customer support, your online business can be accepting worldwide orders with ALL CRYTOCURRENCIES in no time.No hidden fees, No startup fees, No monthly fees. We simply charge a percentage of each crypto transaction which will be deducted automatically upon withdrawal. Simple, clear and without any obligations.</p>
            <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="mailto:bryan@btcpaynow.net">Ask Bryan</a>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Payment Solution for 
				Cryptocurencies</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" />
                    <h3>Secure</h3>
                    <p class="text-muted">The payment server does not need to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" />
                    <h3>Easy</h3>
                    <p class="text-muted">A user-friendly Crypto Curencies checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" />
                    <h3>Visibility</h3>
                    <p class="text-muted">Manage, generate reports, and search for your invoices easily.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="call-to-action bg-dark">
    <div class="container text-center">
        
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Will I Be Accepted?</h2>
                <hr class="primary">
                <p>We accept almost ALL online e-commerce businesses, start accepting cryptocurencies now.<p>No ID Required.</p><p>No Bank Account Needed.</p></div>
        </div>       
          
  <div class="col-lg-8 mx-auto text-center" align="center">
    <div class="container text-center">

                <p align="center">

                <a href="mailto:bryan@btcpaynow.net">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                </p>
                <p align="center">
                    
                </p>
            </div>
                         
            </div>
        </div>
    </div>
</section>
